name: "Sanity: Deploy Blueprints"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/cd-blueprints.yml
      - .github/workflows/ci-blueprints.yml
      - sanity.blueprint.ts
      - functions/**
      - blueprint.config.json

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x
          # For using code-obos packages published to github packages
          registry-url: "https://npm.pkg.github.com"

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: pnpm install
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy blueprints
        uses: sanity-io/blueprints-actions/deploy@deploy-v2.0.1
        with:
          sanity-token: ${{ secrets.SANITY_STUDIO_DEPLOY_TOKEN }}
          stack-id: 'ST-qwq7vwf7w6'
          project-id: 'tq6w17ny'
